- name: Raspberry Pi Microk8s configuration
  hosts: all
  become: yes
  tasks:
    - name: Update boot files
      lineinfile:
        path: /boot/firmware/cmdline.txt
        regexp: '^(.*)$'
        line: 'cgroup_enable=memory cgroup_memory=1 \1'
        backrefs: yes

    - name: Reboot
      ansible.builtin.reboot:

    - name: Update system cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Install Microk8s with snap
      community.general.snap:
        name: microk8s
        classic: yes

    - name: Add user to microk8s group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups: microk8s
        append: yes

    - name: Start Microk8s
      ansible.builtin.shell: |
        microk8s.start